Documentos do Projeto/comunicação/finalnoderedflowworking200.json
[{"id":"d45b8346.58b9c","type":"tab","label":"Lobo-Guará","disabled":false,"info":""},{"id":"69113b49.4c8eb4","type":"serial out","z":"d45b8346.58b9c","name":"input","serial":"5cbdd0cc.a2846","x":130,"y":240,"wires":[]},{"id":"471443aa.ecc4ec","type":"serial in","z":"d45b8346.58b9c","name":"output","serial":"5cbdd0cc.a2846","x":110,"y":380,"wires":[["9e62f249.70a5a"]]},{"id":"1ec950cb.a7ce0f","type":"debug","z":"d45b8346.58b9c","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"true","targetType":"full","x":770,"y":260,"wires":[]},{"id":"8d75d458.258648","type":"http request","z":"d45b8346.58b9c","name":"payload","method":"POST","ret":"txt","paytoqs":false,"url":"http://requestbin.net/r/1ma8izv1","tls":"","proxy":"","authType":"","x":800,"y":160,"wires":[[]]},{"id":"83e9586b.200728","type":"http request","z":"d45b8346.58b9c","name":"loboguara","method":"POST","ret":"txt","paytoqs":false,"url":"http://loboguara.eastus.cloudapp.azure.com:8000/new-module-data/","tls":"","proxy":"","authType":"","x":610,"y":320,"wires":[["1ec950cb.a7ce0f"]]},{"id":"f8f5720e.44f47","type":"change","z":"d45b8346.58b9c","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":180,"wires":[["8d75d458.258648","83e9586b.200728"]]},{"id":"97826ef4.c4751","type":"json","z":"d45b8346.58b9c","name":"","property":"payload","action":"str","pretty":true,"x":110,"y":160,"wires":[[]]},{"id":"5997cb1a.be6384","type":"inject","z":"d45b8346.58b9c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":460,"y":540,"wires":[["2f25d4d3.3e039c"]]},{"id":"2f25d4d3.3e039c","type":"function","z":"d45b8346.58b9c","name":"","func":"return {\n  dev_id: msg.dev_id,\n  port: msg.port,\n  payload:{ \n      \"payload\":\"M:Modulo-Z,P:223,T:23.24,U:24.34,L:234.2223,G:234.2223,V:23.23\",\n    \n  }\n}","outputs":1,"noerr":0,"x":730,"y":520,"wires":[[]]},{"id":"7974d0b5.bb718","type":"join","z":"d45b8346.58b9c","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"payload","joiner":"","joinerType":"str","accumulate":false,"timeout":"","count":"7","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":230,"y":200,"wires":[[]]},{"id":"9e62f249.70a5a","type":"function","z":"d45b8346.58b9c","name":"","func":"return {\n  dev_id: msg.dev_id,\n  port: msg.port,\n  payload: {\n    \"payload\": msg.payload,\n  },\n}","outputs":1,"noerr":0,"x":350,"y":420,"wires":[["f8f5720e.44f47","1ec950cb.a7ce0f"]]},{"id":"5cbdd0cc.a2846","type":"serial-port","z":"","serialport":"/dev/ttyUSB0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"}]