Documentos do Projeto/comunicação/flows.json
[{"id":"c56014ef.d75ed8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"3c11a77.048f558","type":"inject","z":"c56014ef.d75ed8","name":"","topic":"","payload":"","payloadType":"date","repeat":"8","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":80,"wires":[["b5477b30.aa4168"]]},{"id":"4141b8db.a786c8","type":"function","z":"c56014ef.d75ed8","name":"","func":"return {\n  dev_id: msg.dev_id,\n  port: msg.port,\n  payload: {\n    temp: msg.payload,\n  },\n}","outputs":1,"noerr":0,"x":510,"y":80,"wires":[["145a01d7.3aae7e","fbaa4bc7.560bd8"]]},{"id":"b5477b30.aa4168","type":"exec","z":"c56014ef.d75ed8","command":"vcgencmd","addpay":true,"append":"measure_temp","useSpawn":"false","timer":"","oldrc":false,"name":"","x":330,"y":80,"wires":[["4141b8db.a786c8"],[],[]]},{"id":"145a01d7.3aae7e","type":"ttn downlink","z":"c56014ef.d75ed8","name":"","app":"9d20785a.cdc548","dev_id":"pedrao","port":"","confirmed":false,"schedule":"replace","x":690,"y":100,"wires":[]},{"id":"fbaa4bc7.560bd8","type":"debug","z":"c56014ef.d75ed8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":660,"y":180,"wires":[]},{"id":"9d20785a.cdc548","type":"ttn app","z":"","appId":"testepeixe","accessKey":"ttn-account-v2.vl8gjt_1TPybcpP1zqCsKQlXGeXtk0s_kCcUuFIjJ5c","discovery":"discovery.thethingsnetwork.org:1900"}]