Documentos do Projeto/comunicação/mqttesp32noderedflow.json
[{"id":"d45b8346.58b9c","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"8951cb53.5ef7e8","type":"inject","z":"d45b8346.58b9c","name":"jogero","topic":"esp/test","payload":"closed","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":160,"wires":[[]]},{"id":"36996fd.88d659","type":"mqtt in","z":"d45b8346.58b9c","name":"","topic":"pedrobcbr/#","qos":"0","datatype":"auto","broker":"e8a583e9.8686b","x":210,"y":340,"wires":[["2f25d4d3.3e039c"]]},{"id":"7a8c7de1.ee3e24","type":"mqtt out","z":"d45b8346.58b9c","name":"","topic":"pedrobcbr","qos":"0","retain":"","broker":"e8a583e9.8686b","x":400,"y":140,"wires":[]},{"id":"3c9f1e8b.b8f3d2","type":"debug","z":"d45b8346.58b9c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":380,"wires":[]},{"id":"2f25d4d3.3e039c","type":"function","z":"d45b8346.58b9c","name":"","func":"return {\n  dev_id: msg.dev_id,\n  port: msg.port,\n  payload: {\n    esp32: msg.payload,\n  },\n}","outputs":1,"noerr":0,"x":390,"y":300,"wires":[["b14ae617.02e078","3c9f1e8b.b8f3d2"]]},{"id":"b14ae617.02e078","type":"ttn downlink","z":"d45b8346.58b9c","name":"","app":"9d20785a.cdc548","dev_id":"pedrao","port":"","confirmed":false,"schedule":"replace","x":590,"y":300,"wires":[]},{"id":"e8a583e9.8686b","type":"mqtt-broker","z":"","name":"","broker":"192.168.1.168","port":"1883","clientid":"ESP32Client-","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"9d20785a.cdc548","type":"ttn app","z":"","appId":"testepeixe","accessKey":"ttn-account-v2.vl8gjt_1TPybcpP1zqCsKQlXGeXtk0s_kCcUuFIjJ5c","discovery":"discovery.thethingsnetwork.org:1900"}]