Documentos do Projeto/comunicação/noderedflowconjoinedmessages.json
[{"id":"d45b8346.58b9c","type":"tab","label":"Lobo-Guará","disabled":false,"info":""},{"id":"36996fd.88d659","type":"mqtt in","z":"d45b8346.58b9c","name":"","topic":"pedrobcbr/#","qos":"0","datatype":"auto","broker":"e8a583e9.8686b","x":170,"y":80,"wires":[[]]},{"id":"7a8c7de1.ee3e24","type":"mqtt out","z":"d45b8346.58b9c","name":"","topic":"pedrobcbr","qos":"0","retain":"","broker":"e8a583e9.8686b","x":360,"y":80,"wires":[]},{"id":"2f25d4d3.3e039c","type":"function","z":"d45b8346.58b9c","name":"","func":"return {\n  dev_id: msg.dev_id,\n  port: msg.port,\n  payload: {\n    esp32: msg.payload,\n  },\n}","outputs":1,"noerr":0,"x":370,"y":140,"wires":[[]]},{"id":"b14ae617.02e078","type":"ttn downlink","z":"d45b8346.58b9c","name":"","app":"9d20785a.cdc548","dev_id":"pedrao","port":"","confirmed":false,"schedule":"replace","x":630,"y":240,"wires":[]},{"id":"3e4b9b1b.7c3064","type":"http request","z":"d45b8346.58b9c","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://requestbin.net/r/1mzp2ee1","tls":"","proxy":"","authType":"","x":610,"y":300,"wires":[[]]},{"id":"69113b49.4c8eb4","type":"serial out","z":"d45b8346.58b9c","name":"input","serial":"5cbdd0cc.a2846","x":200,"y":260,"wires":[]},{"id":"471443aa.ecc4ec","type":"serial in","z":"d45b8346.58b9c","name":"output","serial":"5cbdd0cc.a2846","x":230,"y":360,"wires":[["7974d0b5.bb718"]]},{"id":"1ec950cb.a7ce0f","type":"debug","z":"d45b8346.58b9c","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":620,"y":400,"wires":[]},{"id":"7974d0b5.bb718","type":"join","z":"d45b8346.58b9c","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"10","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":370,"y":340,"wires":[["b14ae617.02e078","1ec950cb.a7ce0f","3e4b9b1b.7c3064"]]},{"id":"e8a583e9.8686b","type":"mqtt-broker","z":"","name":"","broker":"192.168.1.104","port":"1883","clientid":"ESP32Client-","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"9d20785a.cdc548","type":"ttn app","z":"","appId":"testepeixe","accessKey":"ttn-account-v2.kC5aRgtB3pp_iYq8dd6M3eL4Xu3WObiUhWHqV-5gzxU","discovery":"discovery.thethingsnetwork.org:1900"},{"id":"5cbdd0cc.a2846","type":"serial-port","z":"","serialport":"/dev/ttyUSB0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"}]